* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f1f5f8;
}

nav {
    background: #fff;
    box-shadow: -4px 1px 16px #000000;
}

nav .nav-center {
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.nav-center h4 {
    color: #00c4ff;
    letter-spacing: 3px
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    height: 45px;
    align-items: center;
    list-style: none;
}

.nav-links a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
    transition: .5s;
    letter-spacing: 3px;
}

.nav-links a:hover {
    transition: .5s;
    color: #00c4ff;
}

main {
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: center;
}

/*.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}*/

.container h2 {
    background: #333;
    color: #fff;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 35px;
    letter-spacing: 2px;
    border-radius: 5px;
}

.container h2 span {
    color: #00c4ff;
    letter-spacing: 2px;
}

.container .btn-container{
	display: flex;
	justify-content: center;
}

.container .btn { 
    height: 50px;
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
    border: 2px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    transition: .5s;
    font-size: 16px;
    letter-spacing: 2px;
}

.container .btn:hover {
    background: #333;
    color: #f1f5f8;
    transition: .5s;
}